<!DOCTYPE HTML>
<html>
<body>
<div>
    <form action="/logout" method="post">
        <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
        <input type="submit" value="Sign Out"/>
    </form>
</div>
<div>
    <form method="post">
        <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
        <input type="text" name="text" placeholder="Enter message:"/>
        <input type="text" name="tag" placeholder="Enter tag:"/>
        <button type="submit">Add message</button>
    </form>
</div>
<div>Message List:</div>
<form method="get" action="filter">
    <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
    <input type="text" name="tag" placeholder="filter:"/>
    <button type="submit">Search</button>
</form>
{{#messages}}
<div>
    <b>{{id}}</b>
    <span>{{text}}</span>
    <i>{{tag}}</i>
    <strong>{{authorName}}</strong>
</div>
{{/messages}}
</body>
</html>